@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
.{
    margin: 0;
    padding: 0;
}

.container{
    background:url(checks-g53db9172a_1280.jpg);
    height: 100vh;
    background-size: 100% 100%;
}

.container .navbar{
     width: 100%;
     height: 80px;
     background-color: rgb(240, 242, 244);
}

.navbar .logo{
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;
}

.navbar .logo a{
    text-decoration: none; /*bu kısımda alt çizgiyi kaldırıyoruz. */
    font-size: 30px;
    font-family: sans-serif;/*yazı stilini bu kodla belirliyoruz. */
    color: #0b0b0b;
}

.navbar ul{
    float: right;
    margin-right: 20px;
}

.navbar ul li{
    list-style: none; /*liste başındaki nokta,çizgi vb. şeyleri yok eder.*/
    display: inline-block;/*listeyi yan yana getirir.*/
    margin: 0 8px;/*liste arasında mesafe açmamızı sağlar.*/
    line-height: 80px; /*liste aşağıya doğru hizalamamızı sağlar.*/
}

.navbar ul li a{
    color: #0b0b0b;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
    font-family: Roboto;
    transition: .5s;
}

.navbar ul li a.active,
.navbar ul li a:hover{
    background: #f2ff00;
    border-radius: 2px;
}

.container .center{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: sans-serif;
    user-select: none;/*bu kodla içeriğin kopyalanmasını engelliyoruz.*/
}

.center h1{
    color: black;
    font-size: 70px;
    font-weight: bold;
    width: 900px;
    text-align: center;
}

.center h2{
    color: #f30505;
    font-size: 50px;
    font-weight: bold;
    width: 885px;
    margin-top: 10px;
    text-align: center;
}

.center .buttons{
    margin: 35px 280px;/*butonları ortalar.*/
}

.buttons button{
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: #fbfafa;
    background-color: rgb(234, 172, 1);
    border: solid 1px rgb(246, 126, 5);
    cursor: pointer;
    outline: none;
    border-radius: 25px;
    transition: .5s;
}

.buttons button:hover{
    background: #fff;
}
